@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

html, 
body {
  font-family: 'Montserrat', sans-serif;
  background-color: aliceblue;
}

.head {
  text-align: center;
  font-family: 'Rubik Marker Hatch';
  margin:auto;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 80px;
}

.checkout {
  text-align: center;
  font-family:Arial, Helvetica, sans-serif;
  margin:auto;
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 50px;
}

button,input,label {
  text-align: center;
  display: block;
  margin: auto;
  margin-bottom: 20px;
}

label {
  font-size: larger;
}

input {
  width: 500px;
  height: 30px;
}

.current-stock {
  text-align: center;
  font-family:Helvetica, sans-serif;
  margin:auto;
  margin-top: 30px;
  margin-bottom: 40px;
  font-size: 50px;
}

.bookList {
  width: 75%;
  border-collapse: collapse;
  font-family: sans-serif;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}


.booklist , td {
  text-align: center;
}

table, th, td {
  border: 1px solid black;
}

footer {
  margin-top: 90px;
}